<div class="container">
    <div class="text-center">
      <div class="col-md-12">
        <div class="error-template">
          <br>
          <h1>Oups!</h1>
          <h2>404 Page Introuvable</h2>
          <div class="error-details">
            Oups, une erreure est survenue, la page demandée n'a pas été trouvée !
          </div>
          <br>
          <div class="error-actions">
            <a routerLink="/" class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-home"></span>
              Page d'accueil
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

